@model Courses.ViewModels.PrerequisitesCourses.PreCoursesVM

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Create</h1>

<h4>PrerequisitesCourse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CourseId" class="control-label"></label>
            <select required id="CourseId" asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId">
                <option disabled selected value="0">-- Please Select Course --</option>
            </select>
        </div>
        <div class="form-group">
            @*<label asp-for="PreCoursesId" class="control-label"></label>*@
            <select required id="dropDownList-example" class="form-control" multiple asp-items="ViewBag.PreCourseId">
                <option disabled selected value="0">-- Please Select PreCourses --</option>
            </select>
        </div>
        <div class="form-group">
            <button onclick="confirm()" value="Create" class="btn btn-primary">Create</button>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<a href="#" id="mod" hidden style="color:red;" data-placement="left" data-toggle="modal" data-target=".bd-example-modal-sm" title="Delete"><i class="pe-7s-trash"></i></a>
<!--Modal-->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="margin-top: 77px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Success!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="message"></p>
            </div>
            <div class="modal-footer">
                <button id="modalClose" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="modalBtn" type="button" class="btn btn-primary" onclick="ok()">OK</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>

        var confirm = function () {
            var list = document.getElementById("dropDownList-example").selectedOptions;
            var values = Array.from(list).map(({ value }) => parseInt(value));

            var Courses = document.getElementById("CourseId").selectedOptions;
            var CourseId = Array.from(Courses).map(({ value }) => value);
            if (CourseId[0] != 0 && values[0] != 0) {
                var _tests = [];
                for (var i = 0; i < values.length; i++) {
                    _tests[i] = { id: values[i], name: 'yellow' }
                }

                $.ajax({
                    type: "POST",
                    url: "/PrerequisitesCourses/Create",
                    data: {
                        courseId: CourseId,
                        tests: _tests
                    },
                    success: function (data) {
                        if (data.result) {
                            success(data.message);
                        } else {
                            failed(data.message);
                        }
                    },
                    error: function (response) {
                        failed("This Course with these PreCourses is Already exists!.");
                    }
                });
            } else {
                failed("You should select one Course.");
            }
        }

        var ok = function () {
            window.location.href = "/Courses/Create";
        }

        var stay = function () {
            document.getElementById("modalClose").click();
        }

        var success = function (message) {
            document.getElementById("exampleModalLongTitle").innerHTML = "Success!";
            document.getElementById("message").innerHTML = message;
            document.getElementById("mod").click();
            document.getElementById("modalBtn").setAttribute('onclick', 'ok()')
        }

        var failed = function (message) {
            document.getElementById("exampleModalLongTitle").innerHTML = "Failed";
            document.getElementById("message").innerHTML = message;
            document.getElementById("mod").click();
            document.getElementById("modalBtn").setAttribute('onclick', 'stay()')
        }
    </script>

}
